<nav class="navbar navbar-expand-md bg-dark navbar-dark mb-5">
    <!-- Brand -->
    <a class="navbar-brand" href="/">Navbar</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            @if (Context.Session.GetString("username") != null)
            {
                <li class="nav-item">
                    <a class="nav-link" asp-controller="home" asp-action="creatUser">Create User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="home" asp-action="userList">User list</a>
                </li>
            }
        </ul>
        <ul class="navbar-nav ml-auto">
            @if (Context.Session.GetString("username") == null)
            {
                <li class="nav-item">
                    <a class="nav-link" asp-controller="account" asp-action="login">Login</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" asp-controller="home" asp-action="userList">@Context.Session.GetString("username")</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="account" asp-action="logout">Logout</a>
                </li>
            }

        </ul>
    </div>
</nav>